/* .text {
  resize: none;
}

.input {
  width: 100%;
  border: 1px solid red;
  border-radius: 16px;
  padding: 15px;
  outline: none;
}

.slider {
  width: 500px;
  color: blue;
  background-color: black;
} */